[submodule "subworkflows/bwaMem"]
	path = subworkflows/bwaMem
	url = git@github.com:oicr-gsi/bwaMem.git
[submodule "subworkflows/bamQC"]
	path = subworkflows/bamQC
	url = git@github.com:oicr-gsi/bamQC.git
